.contact-section {
    background-color: #f2f2f2; /* Light background color */
    padding: 50px 0; /* Adjust padding as needed */
}



.contact-section p {
    font-size: 14px;
    color: #575252; /* Text color */
}

.contact-info {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.contact-info i {
    margin-right: 40px;
}

.contact-info span {
    margin-right: 80px;
    font-size: 16px;
    color: #333; /* Text color */
}

.btn-primary {
    background-color: #22c222; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 12px;
    width: 150px;
}

.btn-primary:hover {
    background-color: #0056b3; /* Button background color on hover */
}
.contact-info i {
    display: block; /* Ensure the icon is on its own line */
    text-align: center; /* Center the icon */
}

.contact-info p,
.contact-info span {
    display: block; /* Ensure each text element is on its own line */
    text-align: center; /* Center the text */
}



.card {
    border: 1px solid white; /* Border with white color */
    border-radius: 5px; /* Rounded corners */
}
.equal-height-cards {
    display: flex;
}
.card-body {
    background-color: white; /* White background color inside the card */
    padding: 20px; /* Add padding for content */
}
.blog-section {
    padding: 50px 0; /* Add padding around the blog section */
}

.cards {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cards-body {
    padding: 20px;
}

.btn {
    margin-top: 20px;
}

.btn-lg {
    font-size: 1.5rem; /* Increase button font size */
}

.card-img {
    max-width: 100%; /* Ensure the image fits within the card */
    height: auto; /* Maintain aspect ratio */
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 9999; /* Ensure it appears above other content */
}
.card-img-top {
    border: 1px solid #ccc;
    border-radius: 5px; /* Adjust border radius */
    width: 100%; /* Fill the container */
    height: auto; /* Maintain aspect ratio */
}


