{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Real Rupee">
  <meta name="keywords"
    content="Real Rupee">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
  <title>Real Rupee</title>
  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
  <!-- ico-font-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/icofont.css' %}">
  <!-- Themify icon-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/themify.css' %}">
  <!-- Flag icon-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/flag-icon.css' %}">
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/feather-icon.css' %}">
  <!-- Plugins css start-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick-theme.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/scrollbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/animate.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/datatables.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/date-range-picker/flatpickr.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/intltelinput.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/tagify.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  




  <!-- Plugins css Ends-->
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
  <link id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css' %}" media="screen">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'assets/js/animate-custom.js' %}"></script>
  <!-- Responsive css-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">
</head>


<style>
  .required-label::after {
        content: " *";
        color: red;
        font-weight: bold;
        margin-left: 3px;
    }

  .btn-primary-gradien{
    background-color: rgba(43, 124, 206, 0.08) !important;
    background-image: none !important;
    border-radius: 22px !important;
    color: #1c1f22 !important;
  }
  
  .btn-danger-gradien{
    background-color:  rgba(237, 17, 17, 0.08) !important;
    opacity: 0.8;
    background-image: none !important;
    border-radius: 22px !important;

  }
  #basic-1_wrapper{
    padding-bottom: 9rem !important;
  }
  .icon-pencil-alt {
    font-size: 11px;
  }

  .icons-new{
    width: 16px !important;
    height: 16px !important;
    margin-right: 9px;
  }
 
  .icons-new {/* Optional: rounded corners */
    transition: filter 0.3s; /* Smooth transition for hover effect */
}

.sidebar-link:hover span {
    color: #fff !important;
}

.sidebar-link:hover .icons-new {
  filter: brightness(0) invert(1) !important; /* Turn the icon white on hover */
}


  div[data-notify="container"] {
    display: none !important;
}
.customizer-links{
  display: none !important;
}
.fa-angle-right{
  display: none !important;
}
.fa-angle-down{
display: none !important;
}


.hovered {
              transform: scale(5); /* Adjust the scale as per your need */
          }

  .icon-trash {
    font-size: 11px;
  }
  .table-avtar {
    height: 30px !important;
    margin-right: 10px;
    width: 30px !important;
}
  .btn-danger-gradien:hover{
    background-color:  rgba(237, 17, 17, 0.08) !important;
    opacity: 0.8;
    background-image: none !important;
    border-radius: 22px !important;
  }

  #messages .success {
    background-image: linear-gradient(to right, #00b09b, #96c93d) !important;
    color: #ffffff !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    font-size: 12px !important;
    margin-left: 15px !important;
    max-width: fit-content !important;
    margin-top: 1rem !important;
}


   #messages .error {
    background-image: linear-gradient(to right, #ff416c, #ff4b2b) !important;
    color: #ffffff !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    font-size: 12px !important;
    margin-left: 15px !important;
    max-width: fit-content !important;
    margin-top: 1rem !important;
}
.swal2-confirm{
  background-color: #00b09b !important;
  border: none !important;
}

.simplebar-offset {
  padding-bottom: 2rem !important;
}

@media only screen and (min-width: 900px) {
      .mobile-logout{
        display: none !important;
      }
  }

   .success {
    background-color: rgba(13, 167, 89, 0.15);
    color: #0DA759 !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    font-size: 12px !important;
    margin-left: 15px !important;
    max-width: fit-content !important;
    margin-top: 1rem !important;
}

/* Add a rule for li elements to ensure they don't have conflicting styles */
.messages li {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove extra padding */
}


   .error {
    background-color: #fcebeb !important;
    color: #E44141 !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    font-size: 12px !important;
    margin-left: 15px !important;
    max-width: fit-content !important;
    margin-top: 1rem !important;
}



</style>
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

<body>
  <div class="loader-wrapper">
    <div class="loader loader-1">
      <div class="loader-outter"></div>
      <div class="loader-inner"></div>
      <div class="loader-inner-1"></div>
    </div>
  </div>
  <!-- loader ends-->
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i></div>
  <!-- tap on tap ends-->
  <!-- page-wrapper Start-->
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div class="page-header row">
      <div class="header-logo-wrapper col-auto">
        <div class="logo-wrapper"><a href="{% url 'superadmin-dashboard' %}"><img class="img-fluid for-light"
              src="{% static 'logo.png' %}" alt="" style="max-width: 120px;" /><img class="img-fluid for-dark"
              src="{% static 'logo.png' %}" alt="" style="max-width: 120px;" /></a></div>
      </div>
      <!-- <div class="col-4 col-xl-4 page-title">
        <h4 class="f-w-700">Default dashboard</h4>
        <nav>
          <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
            <li class="breadcrumb-item"><a href="index.html"> <i data-feather="home"> </i></a></li>
            <li class="breadcrumb-item f-w-400">Dashboard</li>
            <li class="breadcrumb-item f-w-400 active">Default</li>
          </ol>
        </nav>
      </div> -->
      <!-- Page Header Start-->
      <div class="header-wrapper col m-0">
        <div class="row">
          
          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="{% url 'superadmin-dashboard' %}"><img class="img-fluid icons-new" src="{% static 'logo.png' %}" style="max-width: 120px;"
                  alt=""></a></div>
            <div class="toggle-sidebar">
              <svg class="stroke-icon sidebar-toggle status_toggle middle">
                <use href="../assets/svg/icon-sprite.svg#toggle-icon"></use>
              </svg>
            </div>
          </div>
          <div class="nav-right col-xxl-8 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
            <ul class="nav-menus">
              <li class="mobile-logout">
                <a href="{% url 'panel-logout' %}"
                  ><i data-feather="log-in"> </i><span></span></a
                >
              </li>
              
              
              
              <!-- <li class="onhover-dropdown">
                <div class="notification-box">
                  <svg>
                    <use href="../assets/svg/icon-sprite.svg#notification"></use>
                  </svg><span class="badge rounded-pill badge-primary">4 </span>
                </div>
                <div class="onhover-show-div notification-dropdown">
                  <h5 class="f-18 f-w-600 mb-0 dropdown-title">Notitications </h5>
                  <ul class="notification-box">
                    <li class="d-flex">
                      <div class="flex-shrink-0 bg-light-primary"><img src="../assets/images/dashboard/icon/wallet.png"
                          alt="Wallet"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                          <h6>New daily offer added</h6>
                        </a>
                        <p>New user-only offer added</p>
                      </div>
                    </li>
                    <li class="d-flex">
                      <div class="flex-shrink-0 bg-light-info"><img src="../assets/images/dashboard/icon/shield-dne.png"
                          alt="Shield-dne"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                          <h6>Product Evaluation</h6>
                        </a>
                        <p>Changed to a new workflow</p>
                      </div>
                    </li>
                    <li class="d-flex">
                      <div class="flex-shrink-0 bg-light-warning"><img src="../assets/images/dashboard/icon/graph.png"
                          alt="Graph"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                          <h6>Return of a Product</h6>
                        </a>
                        <p>452 items were returned</p>
                      </div>
                    </li>
                    <li class="d-flex">
                      <div class="flex-shrink-0 bg-light-tertiary"><img
                          src="../assets/images/dashboard/icon/ticket-star.png" alt="Ticket-star"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                          <h6>Recently Paid</h6>
                        </a>
                        <p>Mastercard payment of ₹343</p>
                      </div>
                    </li>
                    <li><a class="f-w-700" href="private-chat.html">Check all </a></li>
                  </ul>
                </div>
              </li>
              <li class="onhover-dropdown">
                <svg>
                  <use href="../assets/svg/icon-sprite.svg#header-bookmark"></use>
                </svg>
                <div class="onhover-show-div bookmark-flip">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="front">
                        <h5 class="f-18 f-w-600 mb-0 dropdown-title">Bookmark</h5>
                        <ul class="bookmark-dropdown">
                          <li>
                            <div class="row">
                              <div class="col-4 text-center">
                                <div class="bookmark-content">
                                  <div class="bookmark-icon bg-light-primary"><i class="stroke-primary"
                                      data-feather="file-text"></i></div><span class="font-primary">Forms</span>
                                </div>
                              </div>
                              <div class="col-4 text-center">
                                <div class="bookmark-content">
                                  <div class="bookmark-icon bg-light-secondary"><i class="stroke-secondary"
                                      data-feather="user"></i></div><span class="font-secondary">Profile</span>
                                </div>
                              </div>
                              <div class="col-4 text-center">
                                <div class="bookmark-content">
                                  <div class="bookmark-icon bg-light-warning"><i class="stroke-warning"
                                      data-feather="server"></i></div><span class="font-warning">Tables</span>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="text-center"><a class="flip-btn f-w-700" id="flip-btn"
                              href="javascript:void(0)">Add New Bookmark</a></li>
                        </ul>
                      </div>
                      <div class="back">
                        <ul>
                          <li>
                            <div class="bookmark-dropdown flip-back-content">
                              <input type="text" placeholder="search...">
                            </div>
                          </li>
                          <li><a class="f-w-700 d-block flip-back" id="flip-back" href="javascript:void(0)">Back</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="mode">
                  <svg>
                    <use href="../assets/svg/icon-sprite.svg#moon"></use>
                  </svg>
                </div>
              </li>
              <li class="onhover-dropdown">
                <div class="notification-box">
                  <svg>
                    <use href="../assets/svg/icon-sprite.svg#header-message"></use>
                  </svg><span class="badge rounded-pill badge-info">3 </span>
                </div>
                <div class="onhover-show-div notification-dropdown">
                  <h5 class="f-18 f-w-600 mb-0 dropdown-title">Messages </h5>
                  <ul class="messages">
                    <li class="d-flex b-light1-primary gap-2">
                      <div class="flex-shrink-0"><img src="../assets/images/dashboard-2/user/1.png" alt="Graph"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                          <h6 class="font-primary f-w-600">Hackett Yessenia</h6>
                        </a>
                        <p>Hello Miss...&#128522;</p>
                      </div><span>10 min.</span>
                    </li>
                    <li class="d-flex b-light1-secondary gap-2">
                      <div class="flex-shrink-0"><img src="../assets/images/dashboard-2/user/2.png" alt="Graph"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                          <h6 class="font-secondary f-w-600">schneider Adan</h6>
                        </a>
                        <p>Wishing You a Happy Birthday Dear.. 🥳&#127882;</p>
                      </div><span>25 min.</span>
                    </li>
                    <li class="d-flex b-light1-success gap-2">
                      <div class="flex-shrink-0"><img src="../assets/images/dashboard-2/user/3.png" alt="Graph"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                          <h6 class="font-success f-w-600">Mahdi Gholizadeh</h6>
                        </a>
                        <p>Hello Dear!! This Theme Is Very beautiful</p>
                      </div><span>1 hours</span>
                    </li>
                    <li><a class="f-w-700" href="email-application.html">Check all</a></li>
                  </ul>
                </div>
              </li>
              <li class="cart-nav onhover-dropdown">
                <div class="cart-box">
                  <svg>
                    <use href="../assets/svg/icon-sprite.svg#stroke-ecommerce"></use>
                  </svg>
                </div>
                <div class="cart-dropdown onhover-show-div">
                  <h5 class="f-18 f-w-600 mb-0 dropdown-title">Cart</h5>
                  <ul>
                    <li>
                      <div class="d-flex"><img class="img-fluid b-r-5 me-3 img-60"
                          src="../assets/images/other-images/cart-img.jpg" alt="">
                        <div class="flex-grow-1"><span class="f-w-600">Furniture Chair for Home</span>
                          <div class="qty-box">
                            <div class="input-group"><span class="input-group-prepend">
                                <button class="btn quantity-left-minus" type="button" data-type="minus"
                                  data-field="">-</button></span>
                              <input class="form-control input-number" type="text" name="quantity" value="1"><span
                                class="input-group-prepend">
                                <button class="btn quantity-right-plus" type="button" data-type="plus"
                                  data-field="">+</button></span>
                            </div>
                          </div>
                          <h6 class="font-primary">₹500</h6>
                        </div>
                        <div class="close-circle"><a class="bg-danger" href="#"><i data-feather="x"></i></a></div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex"><img class="img-fluid b-r-5 me-3 img-60"
                          src="../assets/images/other-images/table-img.jpg" alt="">
                        <div class="flex-grow-1"><span class="f-w-600">Furniture Table for Office</span>
                          <div class="qty-box">
                            <div class="input-group"><span class="input-group-prepend">
                                <button class="btn quantity-left-minus" type="button" data-type="minus"
                                  data-field="">-</button></span>
                              <input class="form-control input-number" type="text" name="quantity" value="1"><span
                                class="input-group-prepend">
                                <button class="btn quantity-right-plus" type="button" data-type="plus"
                                  data-field="">+</button></span>
                            </div>
                          </div>
                          <h6 class="font-primary">₹500.00</h6>
                        </div>
                        <div class="close-circle"><a class="bg-danger" href="#"><i data-feather="x"></i></a></div>
                      </div>
                    </li>
                    <li class="total">
                      <h6 class="mb-0">Order Total : <span class="f-w-600 f-right">₹1000.00</span></h6>
                    </li>
                    <li class="text-center"><a class="d-block mb-3 view-cart f-w-700" href="cart.html">Go to your
                        cart</a><a class="btn btn-primary view-checkout" href="checkout.html">Checkout</a></li>
                  </ul>
                </div>
              </li> -->
              <li class="profile-nav onhover-dropdown px-0 py-0">
                <div class="d-flex profile-media align-items-center"><img class="img-30"
                  src="{% static 'assets/images/dashboard/profile.png' %}" alt="">
                  <div class="flex-grow-1"><span>{{request.user.username}}</span>
                    <p class="mb-0 font-outfit" style="line-height: 2 !important;">SuperAdmin<i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="{% url 'panel-logout' %}"><i data-feather="log-in"> </i><span>Logout</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <script class="result-template" type="text/x-handlebars-template">
              <div class="ProfileCard u-cf">                        
              <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
              <div class="ProfileCard-details">
              <div class="ProfileCard-realName">{{name}}</div>
              </div>
              </div>
            </script>
          <script class="empty-template"
            type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
        </div>
      </div>
      <!-- Page Header Ends                              -->
    </div>
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
      <!-- Page Sidebar Start-->
      <div class="sidebar-wrapper" data-layout="stroke-svg">
        <div>
          <div class="logo-wrapper"><a href="{% url 'superadmin-dashboard' %}">
            <span style="font-size: 24px;">
              <img src="{% static 'logo.png' %}" alt="" style="width: 165px;">
            </span>
          </a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <!-- <div class="toggle-sidebar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-h-square" viewBox="0 0 16 16">
                <path d="M11 4.002V12H9.67V8.455H6.33V12H5V4.002h1.33v3.322h3.34V4.002z"/>
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
              </svg>
              <svg class="fill-icon sidebar-toggle status_toggle middle">
                <use href="{% static 'assets/svg/icon-sprite.svg#fill-toggle-icon' %}"></use>
              </svg>
            </div> -->
          </div>
          <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid icons-new"
                src="../assets/images/logo/logo-icon.png" alt=""></a></div>
          <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
              <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn"><a href="index.html"><img class="img-fluid icons-new"
                      src="../assets/images/logo/logo-icon.png" alt=""></a>
                  <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                      aria-hidden="true"></i></div>
                </li>
                <li class="pin-title sidebar-main-title">
                  <div>
                    <h6>Pinned</h6>
                  </div>
                </li>
                  
                <li class="sidebar-main-title">
                  <div>
                    <h6 class="lan-1">Ecommerce</h6>
                  </div>
                </li>
                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'superadmin-dashboard' %}"
                    >
                    <img width="16" height="16" src="{% static 'graph.svg' %}" alt="graph" class="icons-new"/>
                      <span>Dashboard</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'contact-us-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'contact.svg' %}" alt="graph" class="icons-new"/>
                      <span>Contact Us</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'state-name-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'location_state.svg' %}" alt="graph" class="icons-new"/>
                      <span>States</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'district-name-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'location_district.svg' %}" alt="graph" class="icons-new"/>
                      <span>Districts</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'locality-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'locality.svg' %}" alt="graph" class="icons-new"/>
                      <span>Localities</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'property-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'property.svg' %}" alt="graph" class="icons-new"/>
                      <span>Property</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'dist-property-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'dist_property.svg' %}" alt="graph" class="icons-new"/>
                      <span>Dist Property</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'blog-content-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'blog.svg' %}" alt="graph" class="icons-new"/>
                      <span>Blog Content</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'testimonial-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'testimonial.svg' %}" alt="graph" class="icons-new"/>
                      <span>Testimonials</span>
                    </a>
                  </li>

                  <li class="sidebar-list">
                    <a
                      class="sidebar-link sidebar-title link-nav"
                      href="{% url 'gallery-list' %}"
                    >
                    <img width="16" height="16" src="{% static 'gallery.svg' %}" alt="graph" class="icons-new"/>
                      <span>Gallery</span>
                    </a>
                  </li>

                  


                  

                  



                  


                  


                  

                  



             

           


                
              </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
          </nav>
        </div>
      </div>
      <!-- Page Sidebar Ends-->
      <div class="page-body">
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        <!-- Container-fluid starts-->
        <div class="container-fluid default-dashboard">
          {% block content %}
          {% endblock content %}
        </div>
        <!-- Container-fluid Ends-->
      </div>
      <!-- footer start-->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 footer-copyright d-flex flex-wrap align-items-center justify-content-between">
              <p class="mb-0 f-w-600">Copyright 2025 © <strong>Real Rupee</strong> </p>
              
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  







  <!-- latest jquery-->
   
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <!-- Bootstrap js-->
  <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <!-- feather icon js-->
  <script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'assets/js/icons/feather-icon/feather-icon.js' %}"></script>
  <!-- scrollbar js-->
  <script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
  <script src="{% static 'assets/js/scrollbar/custom.js' %}"></script>
  <!-- Sidebar jquery-->
  <script src="{% static 'assets/js/config.js' %}"></script>
  <!-- Plugins JS start-->
  <script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
  <script src="{% static 'assets/js/sidebar-pin.js' %}"></script>
  <script src="{% static 'assets/js/slick/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/slick/slick.js' %}"></script>
  <script src="{% static 'assets/js/header-slick.js' %}"></script>
  <script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
  <script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
  <script src="{% static 'assets/js/chart/apex-chart/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
  <!-- calendar js-->
  <script src="{% static 'assets/js/dashboard/default.js' %}"></script>
  <script src="{% static 'assets/js/notify/index.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatables/datatable.custom1.js' %}"></script>
  <script src="{% static 'assets/js/datepicker/date-range-picker/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/datepicker/date-range-picker/datepicker-range-custom.js' %}"></script>
  <script src="{% static 'assets/js/typeahead/handlebars.js' %}"></script>
  <script src="{% static 'assets/js/typeahead/typeahead.bundle.js' %}"></script>
  <script src="{% static 'assets/js/typeahead/typeahead.custom.js' %}"></script>
  <script src="{% static 'assets/js/typeahead-search/handlebars.js' %}"></script>
  <script src="{% static 'assets/js/typeahead-search/typeahead-custom.js' %}"></script>
  <script src="{% static 'assets/js/height-equal.js' %}"></script>
  <script src="{% static 'assets/js/animation/wow/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/select2/tagify.js' %}"></script>
  <script src="{% static 'assets/js/select2/tagify.polyfills.min.js' %}"></script>
  <script src="{% static 'assets/js/select2/intltelinput.min.js' %}"></script>
  <script src="{% static 'assets/js/select2/telephone-input.js' %}"> </script>
  <script src="{% static 'assets/js/select2/custom-inputsearch.js' %}"></script>
  <script src="{% static 'assets/js/select2/select3-custom.js' %}"></script>
  <script src="{% static 'assets/js/height-equal.js' %}"></script>
  <!-- Plugins JS Ends-->
  <!-- Theme js-->
  <script src="{% static 'assets/js/script.js' %}"></script>
  <script src="{% static 'assets/js/theme-customizer/customizer.js' %}"></script>
  <!-- Plugin used-->
  <script>new WOW().init();</script>




  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">




  <script>
    function showConfirmation(deleteUrl) {
      console.log("Delete URL:", deleteUrl); // Check if the URL is correct
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!"
      }).then((result) => {
        console.log("Result:", result); // Add this line
        if (result.value === true) {
          console.log("Deleting..."); // Check if this log is printed
          {% comment %} Swal.fire({
            title: "Deleted!",
            text: "Your file has been deleted.",
            icon: "success"
          }); {% endcomment %}
          window.location.href = deleteUrl;
        }
      });
    }
  </script>


  


<script>
  function ShowNotice(deleteUrl) {
    console.log("Delete URL:", deleteUrl); // Check if the URL is correct
    Swal.fire({
      title: "Are you sure?",
      text: "Remove Doctor from this clinic!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#d33",
      cancelButtonColor: "#3085d6",
      confirmButtonText: "Yes, Remove!"
    }).then((result) => {
      console.log("Result:", result); // Add this line
      if (result.value === true) {
        console.log("Deleting..."); // Check if this log is printed
        {% comment %} Swal.fire({
          title: "Removed!",
          text: "Doctor Removed.",
          icon: "success"
        }); {% endcomment %}
        window.location.href = deleteUrl;
      }
    });
  }
</script>

<script>
  function toggleHover(imgElement) {
      imgElement.classList.toggle('hovered');
  }
</script>


<script>
  function validateAlphabetic(input) {
      input.value = input.value.replace(/[^a-zA-Z\s]/g, ''); // Allows only letters and spaces
  }
</script>



</body>

</html>