{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="card">
  <div class="card-header">
    <h4>{% if state %}Update{% else %}Add{% endif %} State</h4>
  </div>
  <div class="card-body">
    <div class="card-wrapper border rounded-3">
      <form method="post" class="row g-3">
        {% csrf_token %}

        <div class="col-md-6">
          <label for="{{ form.name.id_for_label }}" class="form-label required-label">Name</label>
          {{ form.name }}
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Save</button>
          <a class="btn btn-secondary" href="{% url 'state-name-list' %}">Go Back</a>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}